@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');

:root {
  --color-bg: #ffffff;
  --color-text: #171717;
  
  --color-primary: #F875AA; 
  --color-primary-light: #FFDFDF;

  --color-secondary: #0089ED;
  --color-secondary-light: #FFF6F6;

  --color-accent: #AEDEFC; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --color-text: #ededed;

    --color-primary: #F875AA;
    --color-primary-light: #3a1f26;

    --color-secondary: #3399ff;
    --color-secondary-light: #1a1a2e;

    --color-accent: #5ebefc;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Menbere', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
